<div class='row-fluid'>
    <div class='col-md-10 col-md-offset-1'>
        <h3>Snake</h3>
        <canvas id='canvas' height='400' width='400'>
        </canvas>

        <p class='lead'>
            <strong>Score: </strong><span id='score'>0</span>
        </p>
        <p class='lead'>
            <strong>Highscore: </strong><span id='highscore'>0</span>
        </p>
    </div>
</div>
